body{
    background-color: black;
    color:antiquewhite;
    display: grid;
    place-items: center;
}

input{
    color:antiquewhite;
    border-color: antiquewhite;
    background-color: black;
}

.lampboard{
    display: grid;
    place-items: center;
}

.lampboard h1{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    margin: 5px;

    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;

    width:20px;
    height:20px;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid rgb(134, 144, 154);
}

#ciphertext {
    font-family: 'OldNewspaperTypes', sans-serif;
}
