body{
    background-color: black;
    color:antiquewhite;
    display: grid;
    place-items: center;
    font-size: 20px;
}

input{
    color:antiquewhite;
    border-color: antiquewhite;
    background-color: black;
}

input[type=number]{
    color:black;
    background-color: antiquewhite;
    border-color: antiquewhite;
    padding: 10px;
    margin: 10px;
}

label {
    margin-top: 20px;
}

.board{
    display: grid;
    place-items: center;
}

.board h1{
    display: inline-flex;
    justify-content: center;
    align-items: center;

    background-color: black;
    margin: 5px;

    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;

    width:20px;
    height:20px;
    padding: 10px;
    border-radius: 50%;
    border: 2px solid rgb(134, 144, 154);
}

#plugboard-wrapper { 
    width: 100%; 
    height: 220px; 
    position: relative;
}

.plugboard.board { 
    width: 100%; 
    position: relative; 
}

#canvas { 
    width: 100%; 
    height: 100%; 
    position: absolute; 
    top: 0; 
    left: 0;
}

#ciphertext {
    font-family: 'OldNewspaperTypes', sans-serif;
    place-self: center;
}
